# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://...."

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://..."

# supabase auth
NEXT_PUBLIC_SUPABASE_URL="https://....supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="token"

# OpenAI API key
OPENAI_API_KEY="sk-proj-..."

# Tavily API key
TAVILY_API_KEY="sk-proj-..."